{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">

    
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'home' %}" class="text-white text-xl font-semibold">CRUD by JT</a>

            
            <div class="space-x-4">
                {% if user.is_authenticated %}
                <a href="{% url 'login' %}" class="text-white">Log Out</a>
                {% else %}
                <a href="{% url 'login' %}" class="text-white">Login/signup</a>
                {% endif %}
            </div>
        </div>
    </nav>

    
    <div class="container mx-auto py-8">
        {% for post in posts reversed %}
        
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">

            
            <div class="bg-white p-6 rounded-md shadow-md">
                <div class="card-header"><strong>{{ post.author.username }}</strong></div>
                <h3 class="text-xl font-semibold mb-4">{{post.title}}</h3>
                <p class="text-gray-600 mb-4">{{post.description}}</p>
                <h5 class="text-sm text-gray-500">{{post.created_at}}</h5>
            </div>
            

            <div class="mb-8">
                {% if user == post.author or perms.main.delete_post %}
                <form method="post">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="bg-red-500 text-white px-4 py-2 mb-4 rounded-md hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800"
                        name="post-id"
                        value="{{post.id}}"
                    >
                        Delete
                    </button>
                </form>
                {% endif %}
                {% if user.is_staff %}
                <form method="post">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600 focus:outline-none focus:shadow-outline-yellow active:bg-yellow-800"
                        name="user-id"
                        value="{{post.author.id}}"
                    >
                        Ban User
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="card-footer text-gray-500">{{ post.created_at }}</div>
            </div>
            {% endfor %}
        </div>
        

        
        <div class="mt-8 p-6">
            <a href="{% url 'create_post' %}" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                Create Posts
            </a>
        </div>
        
    </div>

</body>
</html>
